*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

   
header{
    display: flex;
    margin: 0% auto;
    width: 85%;
    justify-content: center;
    height: 100px;
    align-items: center;
    
    
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.links{
    display: flex;
    gap: 20px;
    align-items: center;
}
.links a{
    padding: 1rem;
    display: block;
}
.links a:hover{
    border-radius: 8px;
background-color: #b5b1b1;
}
.menu-btn{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.menu-btn .bar{
    height: 4px;
    width: 100%;
    background-color: #686AA1;
    border-radius: 10px;
}
#composants-menu{
    display: none;

}
@media (max-width: 760px) {
    header{
        position: fixed;
    background-color: white;
    width: 100%;
    }
    .menu-btn {

        display: flex;
    }
    .links{
        display: none;
    }
    #composants-menu{
        width: 100%;
        height: 70%;
        z-index: 100;
        position: fixed;
        background-color: white;
        margin-top: 6rem;
        overflow:hidden;

    }
    #composants-menu p{
        border: 1px solid black;
        border-radius: 10px;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;


    }
}
.title-logo{
    font-size: 2rem;
    color: #A18A68;
    font-family: 'Allerta Stencil', sans-serif;

}
a{
    text-decoration: none;
    color: black;
}

.nomPanier{
    width: 100%;
    height: 60px;
    justify-content: center;
    margin: 0% auto;
    
}
.nomPanier h1{
    width: 100%;
    width: 100%;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    
}
.lesProduits{
    width: 85%;
    height: 100%;
    margin: 0% auto;
    margin-top: 4em;
    justify-content: center;
}
.produit{
    width: 100%;
    display: flex;
    margin: 2% auto;
    
}
.img{
    width: 50%;
    
}

.carats{
    width: 50%;
    height: 20rem;

   
}
.carats .nom{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;

}
.carats .nom p{
    color: #A18A68;
}
.quantité{
    width: 100%;
    height: 10%;  
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.quantité span:nth-child(2){
    border:  #000;
    background-color: #dbd8d8;
    font-size: xx-large;

}
.total{
    width: 100%;
    height: 20%; 
    display: flex;
    justify-content: space-between;
}
.total span:nth-child(1){
    font-size: xx-large;
    font-weight: bold;

}
.total span:nth-child(2){
    color: #A18A68;
    font-size: xx-large;
}
.achat{
    width: 100%;
    margin: 0% auto;
}
.prixTotal{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: 0% auto;
}
.prixTotal span:nth-child(1){
    font-size: xx-large;
    font-weight: bold;

}
.prixTotal span:nth-child(2){
    color: #A18A68;
    font-size: xx-large;
    font-weight: bold;

}
.nombreProduit{
    width: 10%;
    height: 70%;
    border:2px solid #000;
   
}
.button1{
    width: 20%;
    height: 10%;
    border-radius: 40px;
    border: 3px solid;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 40%;
    background-color: rgba(155, 148, 149, 0.514);
}


.footer-content{
    margin: 0% auto;
    width: 85%;
    border-top: 1px solid #000;
    position: relative;
}
.box-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 600px) {
    .box-content{
        display: block;
    } 
    .user-contact{
        display: block !important;  
        width: 100% !important;
        margin: 0% auto;
    }
    .user-contact p{
         padding-bottom: 0.5rem; 
        
    }
    .svg-arrow{
        float: right;
    }
}
.user-contact{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icones{
    width: 70%;
    float: right;
    height: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-self: self-end;
    justify-content: space-between;
}
