*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

   
header{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100px;
    align-items: center;
    
    
}
.nav{
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.links{
    display: flex;
    gap: 20px;
}
.title-logo{
    font-size: 2rem;
    color: #A18A68;
    font-family: 'Allerta Stencil', sans-serif;

}
a{
    text-decoration: none;
    color: black;
}
.nomPanier{
    width: 80%;
    height: 60px;
    margin: 10px 40px 10px 140px;
}
.nomPanier h1{
    width: 100%;
    width: 100%;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}
.produit{
    width: 80%;
    height: 400px;
    display: flex;
    margin: 60px 40px 60px 270px;
    
}

.carats{
    width: 70%;
    height: 100%;
    display: flex;

   
}
.carats .nom{
    width: 30%;
    height: 20%;
    margin: 100px 19px 0px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.carats .nom p{
    color: #A18A68;
}
.quantité{
    width: 60px;
    height: 10%; 
    margin: 240px 19px 0px 60px; 
    font-size: x-large;
    font-weight: bold;
}
.quantité span:nth-child(2){
    border:  #000;
    background-color: #444;
    font-size: xx-large;

}
.total{
    width: 30%;
    height: 20%; 
    margin: 316px 10px 0px -405px; 
    display: flex;
    justify-content: space-between;
}
.total span:nth-child(1){
    font-size: xx-large;
    font-weight: bold;

}
.total span:nth-child(2){
    color: #A18A68;
    font-size: xx-large;
}
.achat{
    width: 80%;
    height: 200px;
    margin: 27px 17px 45px 148px;
}
.prixTotal{
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: 17px 10px 10px 400px;
}
.prixTotal span:nth-child(1){
    font-size: xx-large;
    font-weight: bold;

}
.prixTotal span:nth-child(2){
    color: #A18A68;
    font-size: xx-large;
    font-weight: bold;

}
.button1{
    width: 200px;
    height: 39px;
    border-radius: 40px;
    border: 3px solid;
    margin: 17px 10px 10px 490px;
    background-color: rgba(201, 115, 131, 0.514);
}



.footer-content{
    margin: 0% auto;
    width: 1248px;
    height: 159px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #000;
    position: relative;
}
.box-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.user-contact{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content ul{
    margin-top: 40px;
    list-style: none;
    display: flex;   
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #444;
    height: 5vh;
    margin-bottom: 20px;

}
.icones{
    width:156px ;
    height: 19px;
    display: flex;
    align-self: self-end;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    right: 0;
}
