*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

   
header{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100px;
    align-items: center;
    
    
}
.nav{
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.links{
    display: flex;
    gap: 20px;
}
.title-logo{
    font-size: 2rem;
    color: #A18A68;
    font-family: 'Allerta Stencil', sans-serif;

}
a{
    text-decoration: none;
    color: black;
}


.hero{
width: 100%;
height: 80vh;
display: flex;
justify-content: center;

}
.content-hero p{
    margin-top: 200px;
    margin-left: 50px;
}
.content-hero{
    width: 1248px;
    height: 646px;
    border-radius: 20px;
    background-image: url('images/back-ground.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.hero-title{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}
.hero-price{
    color: #fff;

}
.btn-hero{
    color: white;
    font-weight: bold;
    position: absolute;
    margin-top: 15px;
    border: 3px solid #fff;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}
.hero .Ellipse{
display: flex;
justify-content: center;
position: absolute;
bottom: 10px;
width: 100%;
}
.content-hero2{
display: flex;
height: 20vh;
justify-content: space-between;
width: 85%;
margin: 3% auto;
align-items: center;

}
span{
    color: #A18A68;
}


.articles{
 width: 85%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: -100px auto;


}
.produit{
margin-top: 4em;
line-height: 2em;
}



.about{
    width: 80%;
    height: 600px;
    display: flex;
    margin: 10% auto;
    flex-direction: column;
    justify-content: space-between;
    

    
}
.partie1{
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    

}
.partie2{
margin-top: 40px;
}
.partie3{
    margin-top: 40px;
}
.descripton{
    margin-top: 40px;
}
.liste{
    margin-left: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.footer-content{
width: 85%;
height: 159px;
display: flex;
margin-top: 700px;
margin: 50% auto;
flex-direction: column;
justify-content: space-evenly;



}
.footer-content::before{
content:'' ;
height: 0.2px;
width: 100%;
margin-top: 10px;
background-color: rgb(82, 78, 78);
margin-bottom: 50px;
}
.contact{ 
display: flex;
gap: 60px;

}
.email-icon{
    width: 100%;
    display: flex;
    justify-content: end;
}











