*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

   
header{
    display: flex;
    margin: 0% auto;
    width: 85%;
    justify-content: center;
    height: 100px;
    align-items: center;
    
    
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.links{
    display: flex;
    gap: 20px;
    align-items: center;
}
.links a{
    padding: 1rem;
    display: block;
}
.links a:hover{
    border-radius: 8px;
background-color: #b5b1b1;
}
.menu-btn{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.menu-btn .bar{
    height: 4px;
    width: 100%;
    background-color: #686AA1;
    border-radius: 10px;
}
@media (max-width: 760px) {
    .menu-btn {

        display: flex;
    }
    .links{
        display: none;
    }
}
.title-logo{
    font-size: 2rem;
    color: #A18A68;
    font-family: 'Allerta Stencil', sans-serif;

}
a{
    text-decoration: none;
    color: black;
}

.partie-détaille{
    width: 85%;
    margin: 0% auto;
    display: flex;
}
.heroImage{
    width: 50%;
    height: 100%;
}
.nom-produit{
    width: 50%;
}
.titre{
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.titre p{
    color: #A18A68;
    font-size: 30px;
    padding: 5px;
}
.titre span{
    font-size: xx-large;
}
.botunesG{
    width: 100%;
    height: 50%;
}
.quantity {
    width: 30%;
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: rgba(41, 97, 97, 0.094);
    padding: 13px;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.quantity span:nth-child(1), .quantity span:nth-child(3) {
    font-size: x-large;
    padding: 10px;
    border-radius: 50%;
    font-weight: bold;
    background-color: rgba(62, 94, 78, 0.799);
}
.quantity span:nth-child(2){
    height: 20px;
    font-size: large;
}
.rating{
    padding: 1rem;
    margin-left: 1rem;
    
}

.button1{
    width: 50%;
    height: 39px;
    border-radius: 40px;
    border: 3px solid;
    margin-left: 2rem;
    background-color: rgba(201, 115, 131, 0.514);
    
}

.descripton {
    width: 85%;
    margin: 2% auto ;
}
.descripton h2{
    font-size: xx-large;
    margin: 1% auto;
}

.descripton p {
    word-break: break-all;
    width: 100%;
    font-size: larger;
    /* padding : 15px 0px 0px 15px;  */
}

.reviews {
    width: 85%;
    padding: 15px 0px;
    margin: 2% auto;
}
.reviews div {
    display: flex;
    margin: 10px;
}

.profile {
width: 100%;
height: 100%;
flex-direction: column;
}
.ProfCommit{
    width: 100%;
    height: 100%;
}
.profile img {
    width: 50%;
    height: 60%;
    border-radius: 50%;
    margin-top: 20% auto;
}
.profile span{
    text-align: center;
    margin-top: 10px;
}
.reviews p {
    margin: auto;
    padding: 0px 0px 0px 15px;
    font-size: larger;
    letter-spacing: 0vh;
    line-height: 28px;
}
.reviews h2 {
    font-size: xx-large;
}
.footer-content{
    margin: 0% auto;
    width: 85%;
    height: 10rem;
    border-top: 1px solid #000;
    position: relative;
}
.box-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 580px) {
    .box-content{
        display: block;
    } 
    .user-contact{
        display: block !important;  
        width: 100% !important;
    }
    .user-contact p{
        padding-bottom: 2rem;
        
    }
    .svg-arrow{
        float: right;
    }
}
.user-contact{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.icones{
    width: 156px;
    float: right;
    height: 19px;
    margin-top: 1rem;
    display: flex;
    align-self: self-end;
    justify-content: space-between;
}
@media (max-width: 600px) {
    .partie-détaille{
        display: block;
    }
    .heroImage{
        width: 100%;
        
    }
    .nom-produit{
        width: 100%;
    }
    .ProfCommit{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .botunesG{
        display: flex;
       
    }
    .quantity{
        margin-top: 0rem;
    }
 
}
